html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family:sans-serif;
	background: url(imgs/background-tile.jpg);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
 /* --------------------------Webkit Scrooll Bar-------------------------- */
 
::-webkit-scrollbar {
    width: 8px;
	background: rgba(0,0,0,0); 
}

::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.8); 
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,0,0.4); 
}

/*------------------------------------------------------------------------ */
header {
	top:0;
	position:fixed;
	width:100%;
	background-color:#333;
	padding: 5px;
}

footer {
	bottom:0;
	position:fixed;
	width:100%;
	background-color:#222;
	height:30px;
}

.info {
	padding:20px;
	padding-right:20px;
	float:left;
}

#wrapper {
    width: 7480px;
	height:600px;
    transform: translate3d(0, 0, 0);
	transition: transform 1.25s ease-in-out;
}
	
.content {
	margin-right:80px;
	width:1000px;
    float: left;
    height: 600px;
	background-color: rgba(10,10,10, 0.7);
}
#itemStart {
	background-color: rgba(10,10,10, 0.0);
}		
#itemOne {
    background-color: #ADFF2F;
}
#itemTwo {
    background-color: #FF7F50;
}
#itemThree {
    background-color: #1E90FF;
}
#itemFour {
    background-color: #DC143C;
}
#itemFive {
    background-color: #123456;
}

#contentContainer {
	width:1000px;
    height: 600px;
	position:relative;
	overflow:hidden;
	border: rgba(10,10,10, 0.5) solid 3px;
	border-radius:3px;
}
#navLinks {
    text-align: center;
    width: 1000px;
	float:left;
	
}
    #navLinks ul {
        margin: 0px;
        padding: 0px;
        display: inline-block;
        margin-top: 6px;
    }
        #navLinks ul li {
            float: left;
            text-align: center;
            margin: 10px;
            list-style: none;
            cursor: pointer;
            background-color: rgba(150,150,150, 0.7);
            padding: 5px;
            border-radius: 50%;
            border:rgba(10,10,10, 0.3) solid 2px;
        }
            #navLinks ul li:hover {
                background-color: rgba(50,100,230, 0.8);
            }
            #navLinks ul li.active {
                background-color: rgba(100,100,100, 0.8);
                color: #FFFFFF;
                outline-width: 7px;
            }
                #navLinks ul li.active:hover {
                    background-color: rgba(50,50,50, 0.8);
                    color: #FFFFFF;
                }
#slider {
	width:1000px;
	margin: 0 auto;
	margin-top:10%;
}